<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <display-name>Cnews</display-name>
<error-page>
		<error-code>404</error-code>
		<location>/error-404.jsp</location>
</error-page>
<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
</error-page>
  <servlet>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <servlet-class>controller.ControllerAdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndex</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <servlet-class>controller.ControllerAdminIndexCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexCat</servlet-name>
    <url-pattern>/admin/indexCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <servlet-class>controller.ControllerAdminAddCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddCat</servlet-name>
    <url-pattern>/admin/addCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelCat</servlet-name>
    <servlet-class>controller.ControllerAdminDelCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelCat</servlet-name>
    <url-pattern>/admin/delCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <servlet-class>controller.ControllerAdminEditCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditCat</servlet-name>
    <url-pattern>/admin/editCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexUsers</servlet-name>
    <servlet-class>controller.ControllerAdminIndexUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexUsers</servlet-name>
    <url-pattern>/admin/indexUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddUsers</servlet-name>
    <servlet-class>controller.ControllerAdminAddUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddUsers</servlet-name>
    <url-pattern>/admin/addUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditUsers</servlet-name>
    <servlet-class>controller.ControllerAdminEditUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditUsers</servlet-name>
    <url-pattern>/admin/editUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelUsers</servlet-name>
    <servlet-class>controller.ControllerAdminDelUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelUsers</servlet-name>
    <url-pattern>/admin/delUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminIndexNews</servlet-name>
    <servlet-class>controller.ControllerAdminIndexNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminIndexNews</servlet-name>
    <url-pattern>/admin/indexNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminAddNews</servlet-name>
    <servlet-class>controller.ControllerAdminAddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminAddNews</servlet-name>
    <url-pattern>/admin/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminEditNews</servlet-name>
    <servlet-class>controller.ControllerAdminEditNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminEditNews</servlet-name>
    <url-pattern>/admin/editNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerIndex</servlet-name>
    <servlet-class>controller.ControllerIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerIndex</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDangNhap</servlet-name>
    <servlet-class>controller.ControllerAdminDangNhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDangNhap</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDangXuat</servlet-name>
    <servlet-class>controller.ControllerAdminDangXuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDangXuat</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerNews</servlet-name>
    <servlet-class>controller.ControllerNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerNews</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerCategory</servlet-name>
    <servlet-class>controller.ControllerCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerCategory</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminDelNews</servlet-name>
    <servlet-class>controller.ControllerAdminDelNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminDelNews</servlet-name>
    <url-pattern>/admin/delNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerDetail</servlet-name>
    <servlet-class>controller.ControllerDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerDetail</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAdminUserProfile</servlet-name>
    <servlet-class>controller.ControllerAdminUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAdminUserProfile</servlet-name>
    <url-pattern>/admin/profile</url-pattern>
  </servlet-mapping>
</web-app>